---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout  title="Ганчак Петро Янович"
  activeMenu="about"
  description=" Засновник академії"
  keywords="Ганчак Петро Янович, Катсу Додзе, четвертий дан айкідо, Ужгород айкідо, Засновник академії, Ганчак Петро Янович, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Ганчак Петро Янович</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title"></h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <img src="/media/trainers/ganchak-pja.jpg" alt="aikido-trainer" />
              <p>Айкідо — це життя і навчаєшся йому все життя.</p>
            </div>
            <div class="post-body span4 row"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
