---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout  title="Про нас"
  activeMenu="about"
  description="Тренери айкідо"
  keywords="Про нас, про академію, тренери академії, тренери айкідо, інструктори айкідо, вчителя айкідо, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Про нас</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title">Про академію</h2>
      <div class="type-post clearfix">
        <div class="post">
          <div class="row">
            <div class="span4">
              <h4>Наша мета</h4><p>
                Існує багато організацій, які практикують АЙКІДО. Академія Айкідо Айкікай створена
                для пізнання законів гармонії. Важливим є, щоб кожен студент розкрив свої здібності
                і надалі зміг би поділитись з оточуючими. Ми не відмовляємося ні від чого, чому ми
                можемо навчитись в бойовому мистецтві. 
              </p><p>
                Виникнення академії було закономірним результатом практики і пошуку на шляху БУДО.
              </p>
            </div>
            <div class="span4">
              <h4>Наша філософія</h4><p>
                Аікідо — це зустріч. Зустріч духу і тіла, м'якості та жорсткості, людини з
                гармонією.
              </p>
            </div>
          </div>
          <h2 class="main-title">Інструктори Академії айкідо Айкікай</h2>
          <div class="row">
            <div class="team span4 clearfix">
              <div class="team-header">
                <a href="/about/talapa-vasil" title="Талапа Василь"
                  ><img src="/media/trainers/talapa-vasil.jpg" alt="aikido-trainer" /></a
                >
              </div>
              <div class="team-content">
                <h5 class="tcenter">
                  <a href="/about/talapa-vasil" title="Талапа Василь"
                    >Талапа Василь<small> IV Дан айкідо Айкікай</small></a
                  >
                </h5>
                <p class="tcenter">Президент Академії Айкідо Айкікай</p>
              </div>
            </div>
            <div class="team span4 clearfix">
              <div class="team-header">
                <a href="/about/kuhta-gergo" title="Кухта Герго"
                  ><img src="/media/trainers/pukpsch-400-300.jpg" alt="aikido-trainer" /></a
                >
              </div>
              <div class="team-content">
                <h5 class="tcenter">
                  <a href="/about/kuhta-gergo" title="Кухта Герго"
                    >Кухта Герго<small> IV Дан айкідо Айкікай</small></a
                  >
                </h5>
                <p class="tcenter">Директор Академії Айкідо Айкікай</p>
              </div>       
     
            </div>
            <div class="team span4 clearfix">
              <div class="team-header">
                <a href="/about/rogach-mihajlo-petrovich" title="Рогач Михайло Петрович"
                  ><img src="/media/trainers/rogach_portret_400x300.jpg" alt="aikido-trainer" /></a
                >
              </div>
              <div class="team-content">
                <h5 class="tcenter">
                  <a href="/about/rogach-mihajlo-petrovich" title="Рогач Михайло Петрович"
                    >Рогач Михайло<small> V Дан айкідо Айкікай</small></a
                  >
                </h5>
                <p class="tcenter">Технічний радник Академії</p>
              </div>
            </div>
            <div class="team span4 clearfix">
              <div class="team-header">
                <a href="/about/slobodyanik-andrij" title="Слободяник Андрій"
                  ><img src="/media/trainers/raibek_portret_400x300.jpg" alt="aikido-trainer" /></a
                >
              </div>
              <div class="team-content">
                <h5 class="tcenter">
                  <a href="/about/slobodyanik-andrij" title="Слободяник Андрій"
                    >Слободяник Андрій<small> ІІІ Дан айкідо Айкікай</small></a
                  >
                </h5>
                <p class="tcenter">«Макото Додзе» Чоп</p>
              </div>
            </div>
            <div class="team span4 clearfix">
              <div class="team-header">
                <a href="/about/posvistak-oleksandr" title="Посвістак Олександр"
                  ><img
                    src="/media/trainers/posvistak_portret_400x300.jpg"
                    alt="aikido-trainer"
                  /></a
                >
              </div>
              <div class="team-content">
                <h5 class="tcenter">
                  <a href="/about/posvistak-oleksandr" title="Посвістак Олександр"
                    >Посвістак Олександр<small> IV Дан айкідо Айкікай</small></a
                  >
                </h5>
                <p class="tcenter">"Сенши Додзе" Ужгород</p>
              </div>
            </div>
            <div class="team span4 clearfix">
              <div class="team-header">
                <a href="/about/virag-andrij" title="Віраг Андрій"
                  ><img src="/media/trainers/virag-andrij.png" alt="aikido-trainer" /></a
                >
              </div>
              <div class="team-content">
                <h5 class="tcenter">
                  <a href="/about/virag-andrij" title="Віраг Андрій"
                    >Віраг Андрій<small> II Дан айкідо</small></a
                  >
                </h5>
                <p class="tcenter">«Каґамі Додзе» Ужгород</p>
              </div>
            </div>
            <div class="team span4 clearfix">
              <div class="team-header">
                <a href="/about/ganchak-petro-yanovich" title="Ганчак Петро Янович"
                  ><img src="/media/trainers/Ganchak_portret.jpg" alt="aikido-trainer" /></a
                >
              </div>
              <div class="team-content">
                <h5 class="tcenter">
                  <a href="/about/ganchak-petro-yanovich" title="Ганчак Петро Янович"
                    >Ганчак Петро Янович<small> Засновник академії</small></a
                  >
                </h5>
                <p class="tcenter"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
