---
import Layout from '../../layouts/PageLayout.astro'
---

<Layout
  title="Кухта Герго"
  activeMenu="about"
  description="«Кейко Додзе», Ужгород"
  keywords="Кухта Герго, Катсу Додзе, четвертий дан айкідо, Ужгород айкідо, «Кейко Додзе», Ужгород, Кухта Герго, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Кухта Герго</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title">«Кейко Додзе» Ужгород</h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <h3 class="text-center">
                <b>Розклад тренувань</b>
              </h3>
              <h3>Ужгород, наб. Православна набережна, 24</h3><table
                class="list"
                border="0"
                cellpadding="2"
                cellspacing="0"
                width="100%"
                style="width: 100%"
                summary="rozklad1"
              >
                <tbody
                  ><tr>
                    <td valign="top" style="vertical-align: top"> <p><b>Группа</b></p> </td>
                    <td valign="middle" style="vertical-align: middle">
                      <p class="text-center"><b>Понеділок</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Середа</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>П'ятниця</b></p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b>Дитяча&nbsp;</b>(5-7 років)</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">14.45 - 15.45</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">14.45 - 15.45</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">14.45 - 15.45</p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b><b>Дитяча&nbsp;</b></b>(8-10 років)</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">16.00 - 17.00</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">16.00 - 17.00</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">16.00 - 17.00</p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b>Основна </b>(11+ років)</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">17.15 - 18.45</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">17.15 - 18.45</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">17.15 - 18.45</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h3>Ужгород, вул. 8 березня,&nbsp;"Jumpfit Kangoo Club"</h3><table
                class="list"
                border="0"
                cellpadding="2"
                cellspacing="0"
                width="100%"
                style="width: 100%"
                summary="rozklad1"
              >
                <tbody
                  ><tr>
                    <td valign="top" style="vertical-align: top"> <p><b>Группа</b></p> </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Ввіторок</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Четвер</b></p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b><b>Дитяча&nbsp;</b></b>(8-12 років)</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">15.00 - 16.30</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">15.00 - 16.30</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="post-body span4 row">
              <h2><b>Кухта Герго</b></h2><p>
                IV&nbsp;Дан айкідо Айкікай,&nbsp;«Кейко&nbsp;Додзе», Ужгород
              </p><p>В здоровому тілі <b>здоровий</b> дух!</p><p></p><hr class="separator" />
              <p></p><a name="eztoc2247_1_0_1" id="eztoc2247_1_0_1"></a><h4>
                <b>Контактні дані:</b>
              </h4>
              <ul>
                <li><b><b><b>Моб. тел.:&nbsp;</b></b></b>+38 (095) 46 79 443</li>

                <li>
                  <b>Email:&nbsp;</b>
                  <a class="usually" href="mailto:kuhta05@gmail.com" target="_self"
                    >kuhta05@gmail.com</a
                  >
                </li>

                <li>
                  <b><b><b><b>Facebook:&nbsp;</b></b></b></b>
                  <a class="usually" href="https://www.facebook.com/kuhta.gergo" target="_self"
                    >facebook.com/kuhta.gergo</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
