---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout  title="Посвістак Олександр"
  activeMenu="about"
  description="Директор Академії Айкідо Айкікай"
  keywords="Посвістак Олександр, Катсу Додзьо, четвертий дан айкідо, Ужгород айкідо, Директор Академії Айкідо Айкікай, Посвістак Олександр, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Посвістак Олександр</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title">Директор Академії Айкідо Айкікай</h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <img src="/media/trainers/posvistak.jpg" alt="aikido-trainer" />
              <h3 class="text-center">
                <b>Розклад тренувань</b>
              </h3>
              <a name="eztoc2186_0_2" id="eztoc2186_0_2"></a><h3>
                &nbsp;
                <h3 class="text-center">
                <b>Розклад тимчасово відсутній</b>
              </h3>
            </div>
            <div class="post-body span4 row">
              <h2><b>Посвістак Олександр </b></h2><p>
                IV&nbsp;Дан айкідо Айкікай,&nbsp;«Сенши Додзьо».
              </p><p>
                Айкідо є в кожному аспекті нашого <b>життя</b>. Вивчати айкідо — це намагатись <b
                  >осягнути</b
                > життя і його <b>закони</b>.
              </p><p></p><hr class="separator" />
              <p></p><a name="eztoc2243_1_1" id="eztoc2243_1_1"></a><h3><b>Контактні дані</b>:</h3>
              <ul>
                <li><b>Моб. тел.</b>&nbsp;:&nbsp;+38 (068) 803 15 76</li>

                <li>
                  <b
                    >Email:&nbsp; <a
                      class="usually"
                      href="mailto:sasha_posvistak@mail.ru"
                      target="_self">senshidojosasha@gmail.com</a
                    ></b
                  >
                </li>

                <li>
                  <b
                    >Facebook:&nbsp; <a
                      class="usually"
                      href="http://vk.com/id208598984"
                      target="_blank">https://www.facebook.com/sasha.posvistak.98</a
                    ></b
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
