---
import Layout from '../../layouts/PageLayout.astro'
---

<Layout
  title="Посвістак Олександр"
  activeMenu="about"
  description="Директор Академії Айкідо Айкікай"
  keywords="Посвістак Олександр, Катсу Додзе, четвертий дан айкідо, Ужгород айкідо, Директор Академії Айкідо Айкікай, Посвістак Олександр, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Посвістак Олександр</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title">Директор Академії Айкідо Айкікай</h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <img src="/media/trainers/posvistak.jpg" alt="aikido-trainer" />
              <h3 class="text-center">
                <b>Розклад тренувань</b>
              </h3><a name="eztoc2186_0_2" id="eztoc2186_0_2"></a><h3>
                &nbsp;Ужгород, вулиця Сільвая, 3
              </h3><table
                class="list"
                border="0"
                cellpadding="2"
                cellspacing="0"
                width="100%"
                style="width: 100%"
                summary="rozklad1"
              >
                <tbody
                  ><tr>
                    <td valign="top" style="vertical-align: top"> <p><b>Группа</b></p> </td>
                    <td valign="middle" style="vertical-align: middle">
                      <p class="text-center"><b>Вівторок</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Четвер</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Субота</b></p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b>Дитяча</b>&nbsp;(5-7 років)</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">17.00 - 18.00</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">17.00 - 18.00</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">&nbsp;</p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b>Основна </b>(8-14 років)</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">18.00 - 19.30</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">18.00 - 19.30</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">10.00 - 11.30</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="post-body span4 row">
              <h2><b>Посвістак Олександр </b></h2><p>
                IV&nbsp;Дан айкідо Айкікай,&nbsp;«Сенши Додзе».
              </p><p>
                Айкідо є в кожному аспекті нашого <b>життя</b>. Вивчати айкідо — це намагатись <b
                  >осягнути</b
                > життя і його <b>закони</b>.
              </p><p></p><hr class="separator" />
              <p></p><a name="eztoc2243_1_1" id="eztoc2243_1_1"></a><h3><b>Контактні дані</b>:</h3>
              <ul>
                <li><b>Моб. тел.</b>&nbsp;:&nbsp;+38 (068) 803 15 76</li>

                <li>
                  <b
                    >Email:&nbsp; <a
                      class="usually"
                      href="mailto:sasha_posvistak@mail.ru"
                      target="_self">senshidojosasha@gmail.com</a
                    ></b
                  >
                </li>

                <li>
                  <b
                    >Facebook:&nbsp; <a
                      class="usually"
                      href="http://vk.com/id208598984"
                      target="_blank">https://www.facebook.com/sasha.posvistak.98</a
                    ></b
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
