---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout  title="Рогач Михайло"
  activeMenu="about"
  description="Технічний радник Академії Айкідо Айкікай"
  keywords="Рогач Михайло Петрович, Кагамі Додзе, п'ятий дан айкідо, Ужгород айкідо, Технічний радник Академії Айкідо Айкікай, Рогач Михайло, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Рогач Михайло</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title">Технічний радник Академії</h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <img src="/media/trainers/rogach.jpg" alt="aikido-trainer" />
              <a name="eztoc2160_0_1" id="eztoc2160_0_1"></a><h3 class="text-center">
                <b>Розклад тренувань тимчасово відсутній</b>
              </h3>
            </div>
            <div class="post-body span4 row">
              <h2>Рогач Михайло</h2><p>
                <sub>V&nbsp;Дан айкідо Айкікай,&nbsp;«Кагамі Додзе».</sub>
              </p><p>
                <b>Айкідо</b> — це система освіти. Чим більше <b>часу</b> ми приділяємо айкідо —&nbsp;тим
                <b>глибше</b> воно проникає у нас, тим <b>міцніше</b> стає наш зв’язок. З часом ми стаємо
                одним <b>цілим</b>, починаємо змінюватись навіть у тих напрямках, які раніше були
                для нас закриті.
              </p><p></p><hr class="separator" />
              <p></p><a name="eztoc2234_1_1" id="eztoc2234_1_1"></a><h3><b>Контактні дані</b>:</h3>
              <ul>
                <li><b>Моб. тел.</b>: +38 (066) 298 30 88</li>

                <li>
                  <b>Email</b>:&nbsp; <a
                    class="usually"
                    href="mailto:uzhaikidojo@gmail.com"
                    target="_self">uzhaikidojo@gmail.com</a
                  >
                </li>

                <li>
                  <b>Facebook:&nbsp;</b>
                  <a class="usually" href="https://www.facebook.com/MishaRogach" target="_blank"
                    >MishaRogach</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
