---
import Layout from '../../layouts/PageLayout.astro'
---

<Layout
  title="Талапа Василь"
  activeMenu="about"
  description="Президент Академії Айкідо Айкікай"
  keywords="Талапа Василь, Катсу Додзе, четвертий дан айкідо, Ужгород айкідо, Президент Академії айкідо Айкікай, Талапа Василь, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Талапа Василь</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title">Президент Академії Айкідо Айкікай</h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <img src="/media/trainers/talapa.jpg" alt="aikido-trainer" />
              <h2 class="text-center">
                <b>Розклад тренувань</b>
              </h2><p>&nbsp;</p><a name="eztoc2176_1_1" id="eztoc2176_1_1"></a><h3>
                Ужгород, Набережна незалежності, 18
              </h3><table
    class="list"
    border="0"
    cellpadding="2"
    cellspacing="0"
    width="100%"
    style="width: 100%"
    summary="rozklad2"
>
<tbody>

<tr>
    <td align="center"><b>День</b></td>
    <td align="center"><b>Час</b></td>
    <td align="center"><b>Група</b></td>
</tr>

<tr>
    <td align="center" valign="middle"><b>Понеділок</b></td>
    <td class="text-center">18:30 - 20:00</td>
    <td>Доросла група</td>
</tr>

<tr>
    <td align="center" valign="middle"><b>Вівторок</b></td>
    <td class="text-center">18:20 - 19:50</td>
    <td>Група 4–7 клас</td>
</tr>

<tr>
    <td rowspan="3" align="center" valign="middle"><b>Середа</b></td>
    <td class="text-center">15:50 - 17:00</td>
    <td>Група 1–2 клас</td>
</tr>
<tr>
    <td class="text-center">17:00 - 18:30</td>
    <td>Група 3–4 клас</td>
</tr>
<tr>
    <td class="text-center">18:30 - 20:00</td>
    <td>Доросла група</td>
</tr>

<tr>
    <td align="center" valign="middle"><b>Четвер</b></td>
    <td class="text-center">18:20 - 19:50</td>
    <td>Група 4–7 клас</td>
</tr>

<tr>
    <td rowspan="3" align="center" valign="middle"><b>П’ятниця</b></td>
    <td class="text-center">15:50 - 17:00</td>
    <td>Група 1–2 клас</td>
</tr>
<tr>
    <td class="text-center">17:00 - 18:30</td>
    <td>Група 3–4 клас</td>
</tr>
<tr>
    <td class="text-center">18:30 - 20:00</td>
    <td>Доросла група</td>
</tr>

<tr>
    <td align="center" valign="middle"><b>Субота</b></td>
    <td class="text-center">10:00 - 11:30</td>
    <td>Змішана група</td>
</tr>

</tbody>
</table>
            </div>
            <div class="post-body span4 row">
              <h2>Талапа Василь</h2><p>IV дан айкідо Айкікай, «Катсу Додзе».</p><p>
                Айкідо вчить прибирати зайве — у русі та в житті — через постійну практику.
              </p><p></p><hr class="separator" />
              <p></p><a name="eztoc2239_1_1" id="eztoc2239_1_1"></a><h3><b>Контактні дані</b>:</h3>
              <ul>
                <li><b>Моб. тел.</b>&nbsp;:&nbsp;+38 (050) 931 46 01</li>

                <li>
                  <b><b>Email:</b></b>&nbsp; <a
                    class="usually"
                    href="mailto:talapa.vasyl@gmail.com"
                    target="_self">talapa.vasyl@gmail.com</a
                  >
                </li>

                <li>
                  <b><b><b><b>Facebook:&nbsp;</b></b></b></b>
                  <a class="usually" href="https://www.facebook.com/Talapa.Vasyl" target="_self"
                    >facebook.com/Talapa.Vasyl</a
                  >
                </li>

                <li>
                  <b>Instagram</b>:&nbsp; <a
                    class="usually"
                    href="https://www.instagram.com/katsu_dojo/"
                    target="_self">https://www.instagram.com/katsu_dojo/</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
