---
import Layout from '../../layouts/PageLayout.astro'
---

<Layout
  title="Талапа Василь"
  activeMenu="about"
  description="Президент Академії Айкідо Айкікай"
  keywords="Талапа Василь, Катсу Додзе, четвертий дан айкідо, Ужгород айкідо, Президент Академії айкідо Айкікай, Талапа Василь, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Талапа Василь</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title">Президент Академії Айкідо Айкікай</h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <img src="/media/trainers/talapa.jpg" alt="aikido-trainer" />
              <h2 class="text-center">
                <b>Розклад тренувань</b>
              </h2><p>&nbsp;</p><a name="eztoc2176_1_1" id="eztoc2176_1_1"></a><h3>
                Ужгород, Набережна незалежності, 18
              </h3><table
                class="list"
                border="0"
                cellpadding="2"
                cellspacing="0"
                width="100%"
                style="width: 100%"
                summary="rozklad1"
              >
                <tbody
                  ><tr>
                    <td valign="top" style="vertical-align: top"> <p><b>Група</b></p> </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Ввіторок</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Четвер</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Субота</b></p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b>Підготовча&nbsp;</b>(6-8 років)</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">16.00 - 17.20</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">16.00 - 17.20</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">10.00 - 11.30</p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b>Основна&nbsp;</b>(9+ років)</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">17.30 - 19.00</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">17.30 - 19.00</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">10.00 - 11.30</p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top"> <p>&nbsp;</p> </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Понеділок</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>Середа</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center"><b>П'ятниця&nbsp; &nbsp;</b></p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b><b><b>Основна&nbsp;</b></b>(10+ років, 5кю+)</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">16.00 - 17.30</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">16.00 - 17.30</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">16.00 - 17.30</p>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top">
                      <p><b><b>Доросла&nbsp;</b>(14+ років)</b></p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">18.00- 19.30</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">18.00- 19.30</p>
                    </td>
                    <td valign="top" style="vertical-align: top">
                      <p class="text-center">18.00- 19.30</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="post-body span4 row">
              <h2>Талапа Василь</h2><p>IV дан айкідо Айкікай, «Катсу Додзе».</p><p>
                Головним в Айкідо є <b>прибирання</b> всього лишнього, як з нашої техніки, так і з нашого
                життя,&nbsp;шляхом <b>щоденних</b> тренувань…
              </p><p></p><hr class="separator" />
              <p></p><a name="eztoc2239_1_1" id="eztoc2239_1_1"></a><h3><b>Контактні дані</b>:</h3>
              <ul>
                <li><b>Моб. тел.</b>&nbsp;:&nbsp;+38 (050) 931 46 01</li>

                <li>
                  <b><b>Email:</b></b>&nbsp; <a
                    class="usually"
                    href="mailto:talapa.vasyl@gmail.com"
                    target="_self">talapa.vasyl@gmail.com</a
                  >
                </li>

                <li>
                  <b><b><b><b>Facebook:&nbsp;</b></b></b></b>
                  <a class="usually" href="https://www.facebook.com/Talapa.Vasyl" target="_self"
                    >facebook.com/Talapa.Vasyl</a
                  >
                </li>

                <li>
                  <b>Instagram</b>:&nbsp; <a
                    class="usually"
                    href="https://www.instagram.com/katsu_dojo/"
                    target="_self">https://www.instagram.com/katsu_dojo/</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
