---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout  title="Маркіна Тімея"
  activeMenu="about"
  description="«Каґамі Додзьо»"
  keywords="Маркіна Тімея, Катсу Додзьо, перший дан айкідо, Ужгород айкідо, «Каґамі Додзьо», Маркіна Тімея, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Маркіна Тімея</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <h2 class="main-title"> Ужгород</h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <img src="/media/trainers/timea.jpg" alt="aikido-trainer" />
              <a name="eztoc2181_1" id="eztoc2181_1"></a>
              <h2 class="text-center">
                <b>Розклад тренувань</b>
              </h2>
                              <h3 class="text-center">
                <b>Розклад тимчасово відсутній</b>
              </h3>
              </div>
            <div class="post-body span4 row">
              <a name="eztoc2241_1" id="eztoc2241_1"></a><h2><b>Маркіна Тімея</b></h2><p>
                I дан айкідо Айкікай,<br />
                Ужгород,<br />Приватний ліцей Унікум
              </p><p>
                Айкідо вчить не тільки захищатись, а й контролювати тіло та емоції. Воно формує дисципліну й виховує характер..
              </p><p>hr</p><a name="eztoc2241_1_1" id="eztoc2241_1_1"></a><h3>
                <b>Контактні дані:</b>
              </h3>
              <ul>
                <li><b>Моб. тел.:</b>&nbsp;+380 95 650 66 52</li>

                <li>
                  <b><b><b><b>Facebook:&nbsp;</b></b></b></b>
                  <a class="usually" href="https://www.facebook.com/timea.markina" target="_self"
                    >facebook.com/timea.markina</a
                  >
                </li>

                <li>
                  <b>Instagram</b>:&nbsp; <a
                    class="usually"
                    href="https://www.instagram.com/timeia.markina/"
                    target="_self">https://www.instagram.com/timeia.markina/</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
