---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout  title="Віраг Андрій"
  activeMenu="about"
  description="«Каґамі Додзе»"
  keywords="Віраг Андрій, Катсу Додзе, четвертий дан айкідо, Ужгород айкідо, «Каґамі Додзе», Віраг Андрій, Про нас"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_about.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Віраг Андрій</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <h2 class="main-title">«Каґамі Додзе» Ужгород</h2>
      <div class="type-portfolio type-portfolio-half clearfix">
        <div class="post">
          <div class="row">
            <div class="post-header span8">
              <img src="/media/trainers/DSC_8978.jpg" alt="aikido-trainer" />
              <a name="eztoc2181_1" id="eztoc2181_1"></a><h2 class="text-center">
                <b>Розклад тренувань</b>
              </h2><table
                class="list"
                border="0"
                cellpadding="2"
                cellspacing="0"
                width="100%"
                style="width: 100%"
                summary="розклад"
              >
                <tbody
                  ><tr>
                    <td valign="top" style="vertical-align: top"> <p><b>Дні</b></p> </td>
                    <td valign="top" style="vertical-align: top"> <p><b>Вівторок</b></p> </td>
                    <td valign="top" style="vertical-align: top"> <p><b><b>Четвер</b></b></p> </td>
                  </tr>

                  <tr>
                    <td valign="top" style="vertical-align: top"> <p><b>Години</b></p> </td>
                    <td valign="top" style="vertical-align: top"> <p>17:30-18:30</p> </td>
                    <td valign="top" style="vertical-align: top"> <p>17:30-18:30</p> </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="post-body span4 row">
              <a name="eztoc2241_1" id="eztoc2241_1"></a><h2><b>Віраг Андрій</b></h2><p>
                II дан айкідо,&nbsp;«Каґамі Додзе»,&nbsp;<br />
                Ужгород, вул. Гвардійська, 51д<br />Фітнес-центр "D51"
              </p><p>
                Найбільше задоволення від життя полягає в роботі над собою та власним
                вдосконаленням.
              </p><p>hr</p><a name="eztoc2241_1_1" id="eztoc2241_1_1"></a><h3>
                <b>Контактні дані:</b>
              </h3>
              <ul>
                <li><b>Моб. тел.:</b>&nbsp;+380 66 050 09 18</li>

                <li>
                  <b><b><b><b>Facebook:&nbsp;</b></b></b></b>
                  <a class="usually" href="https://www.facebook.com/andris.viragh" target="_self"
                    >facebook.com/andris.viragh</a
                  >
                </li>

                <li>
                  <b>Instagram</b>:&nbsp; <a
                    class="usually"
                    href="https://www.instagram.com/andryvir/"
                    target="_self">https://www.instagram.com/andryvir/</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
