---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout  title="Контакти"
  description="Контакти"
  keywords="Контакти"
  activeMenu="contacts"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/contacts.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Контакти</h1>
    </div>
  </div>

  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <p class="sub-title">Інформація для зв'язку:</p>

      <div class="row">

        <!-- Телефон -->
        <div class="span4">
          <a href="tel:+380509314601" class="circle-box link-style1" style="display:block; text-align:center;">
            <span class="circle">
              <span class="circle-border"></span>
              <span class="circle-inner">
                <span class="circle-icon-tel"></span>
              </span>
            </span>

            <h4>Моб. тел.</h4>
            <p>+38 (050) 931 46 01</p>
          </a>
        </div>

        <!-- Facebook -->
        <div class="span4">
          <a
            href="https://www.facebook.com/aikidoaikikaiacademy"
            target="_blank"
            rel="noopener noreferrer"
            class="circle-box link-style1"
            style="display:block; text-align:center;"
          >
            <span class="circle">
              <span class="circle-border"></span>
              <span class="circle-inner">
                <span class="circle-icon-facebook"></span>
              </span>
            </span>

            <h4>Facebook</h4>
            <p>Перейти на сторінку</p>
          </a>
        </div>

<!-- Email -->
<div class="span4">
  <a
    href="https://mail.google.com/mail/?view=cm&fs=1&to=aikidoaikikai.academy@gmail.com"
    target="_blank"
    class="circle-box link-style1"
    style="display:block; text-align:center;"
  >
    <span class="circle">
      <span class="circle-border"></span>
      <span class="circle-inner">
        <span class="circle-icon-mail"></span>
      </span>
    </span>

    <h4>E-mail</h4>
    <p>aikidoaikikai.academy@gmail.com</p>
  </a>
</div>

      </div>

      <h2 class="main-title">
        Ми дамо відповіді на всі Ваші запитання
      </h2>
    </div>
  </div>
</MainLayout>
