---
import Layout from '../layouts/PageLayout.astro'
---

<Layout
  activeMenu="rozklad-seminariv"
  title="Контакти"
  description="Контакти"
  keywords="Контакти"
  activeMenu="contacts"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/contacts.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Контакти</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <h2 class="main-title"></h2>
      <p class="sub-title">Інформація для зв*язку:</p>
      <div class="row">
        <div class="span4">
          <div class="circle-box">
            <h4>
              <span class="circle">
                <span class="circle-border"></span>
                <span class="circle-inner"><span class="circle-icon-tel"></span></span>
              </span>
              Моб. тел.
            </h4>
            <p>+38 (050) 931 46 01</p>
          </div>
        </div>
        <div class="span4">
          <div class="circle-box">
            <h4>
              <span class="circle">
                <span class="circle-border"></span>
                <span class="circle-inner"><span class="circle-icon-facebook"></span></span>
              </span>
              Facebook
            </h4>
            <p>
              <a
                target="_blank"
                href="https://www.facebook.com/aikidoaikikaiacademy"
                class="link-style1">Приєднуйся до нас</a
              >
            </p>
          </div>
        </div>
        <div class="span3">
          <div class="circle-box">
            <h4>
              <span class="circle">
                <span class="circle-border"></span>
                <span class="circle-inner"><span class="circle-icon-mail"></span></span>
              </span>
              E-mail
            </h4>
            <p>
              <a href="mailto:info@aikidoacademy.com.ua" class="link-style1"
                >info@aikidoacademy.com.ua</a
              >
            </p>
          </div>
        </div>
      </div>
      <h2 class="main-title">Ми дамо відповіді на всі Ваші питання</h2>
    </div>
  </div>
</Layout>
