---
import Layout from '../layouts/PageLayout.astro'
---

<Layout
  title="Контакти"
  description="Контакти"
  keywords="Контакти"
  activeMenu="contacts"
>
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/contacts.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Контакти</h1>
    </div>
  </div>

  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <p class="sub-title">Інформація для зв'язку:</p>

      <div class="row">

        <!-- Телефон -->
        <div class="span4">
          <div class="circle-box">
            <h4>
              <a href="tel:+380509314601" class="link-style1">
                <span class="circle">
                  <span class="circle-border"></span>
                  <span class="circle-inner">
                    <span class="circle-icon-tel"></span>
                  </span>
                </span>
                Моб. тел.
              </a>
            </h4>

            <p>
              <a href="tel:+380509314601" class="link-style1">
                +38 (050) 931 46 01
              </a>
            </p>
          </div>
        </div>

        <!-- Facebook -->
        <div class="span4">
          <div class="circle-box">
            <h4>
              <a
                href="https://www.facebook.com/aikidoaikikaiacademy"
                target="_blank"
                rel="noopener noreferrer"
                class="link-style1"
              >
                <span class="circle">
                  <span class="circle-border"></span>
                  <span class="circle-inner">
                    <span class="circle-icon-facebook"></span>
                  </span>
                </span>
                Facebook
              </a>
            </h4>

            <p>
              <a
                href="https://www.facebook.com/aikidoaikikaiacademy"
                target="_blank"
                rel="noopener noreferrer"
                class="link-style1"
              >
                Перейти на сторінку
              </a>
            </p>
          </div>
        </div>

        <!-- Email -->
        <div class="span4">
          <div class="circle-box">
            <h4>
              <a
                href="mailto:aikidoaikikai.academy@gmail.com"
                class="link-style1"
              >
                <span class="circle">
                  <span class="circle-border"></span>
                  <span class="circle-inner">
                    <span class="circle-icon-mail"></span>
                  </span>
                </span>
                E-mail
              </a>
            </h4>

            <p>
              <a
                href="mailto:aikidoaikikai.academy@gmail.com"
                class="link-style1"
              >
                aikidoaikikai.academy@gmail.com
              </a>
            </p>
          </div>
        </div>

      </div>

      <h2 class="main-title">
        Ми дамо відповіді на всі Ваші запитання
      </h2>
    </div>
  </div>
</Layout>
