---
import Layout from '../layouts/PageLayout.astro'
---

<Layout title="Наші проекти" description="Наші проекти" keywords="Наші проекти">
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/header_project.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Наші проекти</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <div class="type-post clearfix">
        <div class="post">
          <div class="post-body">
            <hr />

            <div class="portfolio portfolio-isotope">
              <!-- .portfolio-posts -->
              <ul class="portfolio-posts row">
                <!-- .post -->
                <li class="post span4 has-overlay" data-filter="animation design photography">
                  <div class="post-inner">
                    <div class="post-header">
                      <a href="/blog/Pershij-dityachij-seminar-z-ajkido"
                        ><img
                          src="/media/Dityachij-seminar-ajkido_article_image300x239.jpg"
                          alt="Перший дитячий семінар з айкідо"
                        /></a
                      >
                    </div>
                    <div class="post-body">
                      <h2>
                        <a href="/blog/Pershij-dityachij-seminar-z-ajkido"
                          >Перший дитячий семінар з айкідо</a
                        >
                      </h2>
                    </div>
                    <div class="post-overlay">
                      <div class="post-overlay-meta">
                        <h2>Перший дитячий семінар з айкідо</h2>
                      </div>
                      <ul class="post-overlay-icons">
                        <li>
                          <span></span><a
                            href="/blog/Pershij-dityachij-seminar-z-ajkido"
                            class="overlay-icon-link"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!-- /.post -->
                <!-- .post -->
                <li class="post span4 has-overlay" data-filter="animation design photography">
                  <div class="post-inner">
                    <div class="post-header">
                      <a href="/news/Ajkido-0-24"
                        ><img
                          src="/media/aikido-0-24_article_image300x239.jpg"
                          alt="Айкідо 0-24"
                        /></a
                      >
                    </div>
                    <div class="post-body">
                      <h2><a href="/news/Ajkido-0-24">Айкідо 0-24</a></h2>
                    </div>
                    <div class="post-overlay">
                      <div class="post-overlay-meta">
                        <h2>Айкідо 0-24</h2>
                      </div>
                      <ul class="post-overlay-icons">
                        <li>
                          <span></span><a href="/news/Ajkido-0-24" class="overlay-icon-link"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!-- /.post -->
              </ul>
            </div>
          </div>
        </div>
        <div class="nspace-10"></div>
      </div>
    </div>
  </div>
</Layout>
