---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout 
activeMenu="rozklad"
title="Розклад семінарів" description="Розклад семінарів" keywords="Розклад семінарів">
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/67.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Розклад семінарів</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <div class="type-post clearfix">
        <div class="post">
          <div class="post-body">
            <hr />

<div class="schedule-info">
  <p>
    Щоб не пропускати події та семінари, рекомендуємо підписатися на нашу сторінку у 
    <a href="https://www.facebook.com/aikidoaikikaiacademy" target="_blank" rel="noopener">
      Facebook
    </a>.
  </p>

  <!-- Сюди можна буде дописати ще текст -->
</div>

<div class="schedule-posters">
  <img 
    src="https://res.cloudinary.com/du5rp9nvc/image/upload/v1770542479/Stenudd_2026_aayekn.png" 
    alt="Семінар Stenudd 2026" 
    loading="lazy"
  />
  <img 
    src="https://res.cloudinary.com/du5rp9nvc/image/upload/v1770542478/Ake_Pekkarinen_pfwseh.png" 
    alt="Семінар Pekkarinen" 
    loading="lazy"
  />
</div>

<div class="schedule-info">
  <p>
    Якщо у вас виникли питання — звертайтеся до нас особисто за контактами, вказаними на сайті.
  </p>

  <!-- Сюди зручно дописувати додаткову інформацію -->
</div>

          </div>
        </div>
        <div class="nspace-10"></div>
      </div>
    </div>
  </div>
</MainLayout>
