---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Розклад семінарів" description="Розклад семінарів" keywords="Розклад семінарів">
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/67.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Розклад семінарів</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <div class="type-post clearfix">
        <div class="post">
          <div class="post-body">
            <hr />

            <div class="content-view-embeddedmedia">
              <div class="class-image">
                <div class="attribute-image">
                  <p>
                    <img
                      src="/media/rozklad.png"
                      width="277"
                      height="493"
                      alt="Neon Green Modern Luxury Hair Marketing Instagram Story_20240201_150717_0000"
                      title="Neon Green Modern Luxury Hair Marketing Instagram Story_20240201_150717_0000"
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nspace-10"></div>
      </div>
    </div>
  </div>
</MainLayout>
