---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Розклад семінарів" description="Розклад семінарів" keywords="Розклад семінарів">
  <div id="header-panel" class="wrapper header-parallax" style="margin-bottom: 0px;">
    <div
      class="header-image header-image-blog container"
      style="background-image: url(/media/67.jpg)"
    >
    </div>
    <div class="page-title" style="bottom: 50px;">
      <h1>Розклад семінарів</h1>
    </div>
  </div>
  <div id="main" class="wrapper">
    <div class="main-content container commonpage">
      <!-- Container -->
      <div class="type-post clearfix">
        <div class="post">
          <div class="post-body">
            <hr />

<div class="schedule-image">
  <img src="/media/rozklad.png" alt="Розклад семінарів" />
</div>
          </div>
        </div>
        <div class="nspace-10"></div>
      </div>
    </div>
  </div>
</MainLayout>
