---
interface Props {
  activeMenu?: string;
}

const { activeMenu } = Astro.props;

---

<div id="header-info" class="wrapper">
  <div class="container fullwidth">
    <ul>
      <li><span class="header-icon-pin"></span>88000 Ужгород, Україна</li>
      <li>
        <span class="header-icon-mail"></span>
        <a href="mailto:aikidoaikikai.academy@gmail.com" class="link-style2">
          aikidoaikikai.academy@gmail.com
        </a>
      </li>
      <li>
        <span class="header-icon-phone"></span>
        <a href="tel:+380509314601" class="link-style2">
          +38 (050) 931 46 01
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="header" class="wrapper">
  <div id="logo" class="container fullwidth" style="padding: 20px 0;">
    <a href="/"></a>
  </div>

  <div id="primary-navigation" class="container fullwidth">
    <a class="menu-responsive">
      <span class="menu-icon-nav"></span>
      <span class="menu-title">Navigation</span>
    </a>

    <ul class="menu clearfix">
      <li class:list={[{ selectedLava: activeMenu === 'home' }]}>
        <a class:list={[{ current: activeMenu === 'home' }]} href="/">
          <span class="menu-icon-home"></span>Головна
        </a>
      </li>

      <li class:list={[{ selectedLava: activeMenu === 'about' }]}>
        <a class:list={[{ current: activeMenu === 'about' }]} href="/about">
          <span class="menu-icon-about"></span>Про нас
        </a>
      </li>

      <li>
        <a href="/video">
          <span class="menu-icon-features"></span>Відео
        </a>
      </li>

      <li>
        <a href="/blog">
          <span class="menu-icon-blog"></span>Новини
        </a>
      </li>

      <li>
        <a href="/rozklad-seminariv">
          Розклад семінарів
        </a>
      </li>

      <li class:list={[{ selectedLava: activeMenu === 'contacts' }]}>
        <a class:list={[{ current: activeMenu === 'contacts' }]} href="/contacts">
          <span class="menu-icon-contact"></span>Контакти
        </a>
      </li>
      <li class="menu-search">
  <a id="open-search" style="cursor:pointer;">
    <span class="search-icon"></span> Пошук
  </a>
</li>
    </ul>

    </div>
<div id="search-box" class="search-box" style="display:none;">
  <input
    type="text"
    id="search-input"
    placeholder="Пошук по сайту..."
    autocomplete="off"
  />
  <div id="search-results"></div>
</div>
</div>











