---
import { buildSearchIndex } from '../data/buildSearchIndex';
const searchIndex = await buildSearchIndex();
---

<div class="search-wrapper">
  <input
    id="search-input"
    type="text"
    placeholder="Пошук по сайту..."
    autocomplete="off"
  />
  <div id="search-results"></div>
</div>



