---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'

interface Props {
  title: string
  description: string
  keywords?: string
  activeMenu?: string
}

const { title, description, keywords, activeMenu } = Astro.props
---

<html lang="uk-UA">
  <head>
    <BaseHead {title} {keywords} {description} />
  </head>

  <body id="top" class="boxed stickymenu stickyfooter">

    <div id="wrapper" style="margin-bottom: 75px;">
      <Header {activeMenu} />

      <div id="search-box" class="search-box">
  <input
    type="text"
    id="search-input"
    placeholder="Пошук по сайту..."
    autocomplete="off"
  />
  <div id="search-results"></div>
</div>


      <slot />
      <Footer />
    </div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var btn = document.getElementById('open-search');

  if (btn) {
    btn.addEventListener('click', function () {

      setTimeout(function () {
        var input = document.getElementById('search-input');
        if (input) input.focus();
      }, 300);

    });
  }
});
</script>

  </body>
</html>
