---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'

interface Props {
  title: string
  description: string
  keywords?: string
  activeMenu?: string
}

const { title, description, keywords, activeMenu } = Astro.props
---

<html lang="uk-UA" class="js-on csstransforms csstransforms3d csstransitions">
  <head>
    <BaseHead {title} {keywords} {description} />
  </head>
  <script src="/search.js"></script>
  <body id="top" class="boxed stickymenu stickyfooter" style="">
    <script type="text/javascript" src="/js/addthis_widget.js" async="async"></script>

    <div id="wrapper" style="margin-bottom: 75px;">
      <Header {activeMenu} />

      <slot />

      <Footer />
    </div>

  </body>
</html>
