<!doctype html>
<!-- saved from url=(0028)http://aikidoacademy.com.ua/ -->
<html lang="uk-UA" class="js-on csstransforms csstransforms3d csstransitions">
  <!--[if lt IE 7]>   <html dir="ltr" lang="en-US" class="lt-ie9 lt-ie8 lt-ie7"><![endif]--><!--[if IE 7]>      <html dir="ltr" lang="en-US" class="lt-ie9 lt-ie8"><![endif]--><!--[if IE 8]>      <html dir="ltr" lang="en-US" class="lt-ie9"><![endif]--><!--[if IE 9]>      <html dir="ltr" lang="en-US"  class="lt-ie10"> <![endif]--><!--[if gt IE 9]> <html dir="ltr" lang="en-US" class="gt-ie9 non-ie"> <![endif]-->
  <head
    ><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Академія айкідо Айкікай</title>

    <meta
      name="keywords"
      content="Академія айкідо Айкікай, Ужгород айкідо, айкідо ,aкадемія айкідо Айкікай, айкідо ужгород, айкідо чоп, айкідо закарпаття, aikidoacademy.com.ua"
    />
    <meta name="description" content="Академія Айкідо Айкікай" />
    <meta property="og:title" content="Академія айкідо Айкікай" />
    <meta property="og:site_name" content="aikidoacademy.com.ua - Академія айкідо Айкікай" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://aikidoacademy.com.ua/" />
    <meta property="og:description" content="Академія Айкідо Айкікай" />
    <meta property="og:image" content="/images/aikidoacademy.jpg" /><meta
      name="format-detection"
      content="telephone=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="google-site-verification" content="CSNLfB17vEXAH67YYDTp6MS1o04f9GeLu-tpGMMuK-E" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/css/settings.css" />
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      ;(function ($) {
        var _rootUrl = '/',
          _serverUrl = _rootUrl + 'ezjscore/',
          _seperator = '@SEPERATOR$',
          _prefUrl = _rootUrl + 'user/preferences'

        // FIX: Ajax is broken on IE8 / IE7 on jQuery 1.4.x as it's trying to use the broken window.XMLHttpRequest object
        if (window.XMLHttpRequest && window.ActiveXObject)
          $.ajaxSettings.xhr = function () {
            try {
              return new window.ActiveXObject('Microsoft.XMLHTTP')
            } catch (e) {}
          }

        // (static) jQuery.ez() uses jQuery.post() (Or jQuery.get() if post paramer is false)
        //
        // @param string callArgs
        // @param object|array|string|false post Optional post values, uses get request if false or undefined
        // @param function Optional callBack
        function _ez(callArgs, post, callBack) {
          callArgs = callArgs.join !== undefined ? callArgs.join(_seperator) : callArgs
          var url = _serverUrl + 'call/'
          if (post) {
            var _token = '',
              _tokenNode = document.getElementById('ezxform_token_js')
            if (_tokenNode) _token = _tokenNode.getAttribute('title')
            if (post.join !== undefined) {
              // support serializeArray() format
              post.push({ name: 'ezjscServer_function_arguments', value: callArgs })
              post.push({ name: 'ezxform_token', value: _token })
            } else if (typeof post === 'string') {
              // string
              post +=
                (post ? '&' : '') +
                'ezjscServer_function_arguments=' +
                callArgs +
                '&ezxform_token=' +
                _token
            } // object
            else {
              post['ezjscServer_function_arguments'] = callArgs
              post['ezxform_token'] = _token
            }
            return $.post(url, post, callBack, 'json')
          }
          return $.get(url + encodeURIComponent(callArgs), {}, callBack, 'json')
        }
        _ez.url = _serverUrl
        _ez.root_url = _rootUrl
        _ez.seperator = _seperator
        $.ez = _ez

        $.ez.setPreference = function (name, value) {
          var param = { Function: 'set_and_exit', Key: name, Value: value }
          _tokenNode = document.getElementById('ezxform_token_js')
          if (_tokenNode) param.ezxform_token = _tokenNode.getAttribute('title')

          return $.post(_prefUrl, param)
        }

        // Method version, for loading response into elements
        // NB: Does not use json (not possible with .load), so ezjscore/call will return string
        function _ezLoad(callArgs, post, selector, callBack) {
          callArgs = callArgs.join !== undefined ? callArgs.join(_seperator) : callArgs
          var url = _serverUrl + 'call/'
          if (post) {
            post['ezjscServer_function_arguments'] = callArgs
            post['ezxform_token'] = jQuery('#ezxform_token_js').attr('title')
          } else url += encodeURIComponent(callArgs)

          return this.load(url + (selector ? ' ' + selector : ''), post, callBack)
        }
        $.fn.ez = _ezLoad
      })(jQuery)
    </script>
    <script type="text/javascript" src="/js/scripts.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jquery.themepunch.plugins.min.js" charset="utf-8"
    ></script>
    <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js" charset="utf-8"
    ></script>
  </head>
  <!-- body -->
  <body id="top" class="boxed stickymenu stickyfooter" style="">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="/js/addthis_widget.js" async="async"></script>
    <!-- #wrapper -->
    <div id="wrapper" style="margin-bottom: 75px;">
      <!-- #header-info -->
      <div id="header-info" class="wrapper">
        <div class="container fullwidth">
          <ul>
            <li><span class="header-icon-pin"></span>88000 Ужгород, Україна</li>
            <li>
              <span class="header-icon-mail"></span><a
                href="mailto:aikidoaikikai.academy@gmail.com"
                class="link-style2">aikidoaikikai.academy@gmail.com</a
              >
            </li>
            <li><span class="header-icon-phone"></span>+38 (050) 931 46 01</li>
          </ul>
        </div>
      </div>
      <!-- /#header-info -->
      <!-- #header -->
      <div id="header" class="wrapper">
        <!-- #logo -->
        <div id="logo" class="container fullwidth" style="padding-top: 20px; padding-bottom: 20px;">
          <a href="http://aikidoacademy.com.ua/"></a>
        </div>
        <!-- /#logo -->
        <!-- #primary-navigation -->
        <div id="primary-navigation-placholder" style="height: 45px; display: none;"></div><div
          id="primary-navigation"
          class="container fullwidth"
        >
          <!-- .menu-responsive -->
          <a class="menu-responsive"
            ><span class="menu-icon-nav"></span><span class="menu-title">Navigation</span></a
          >
          <!-- /.menu-responsive -->
          <!-- .menu -->
          <ul class="menu clearfix" style="display: block;">
            <li
              class="backLava"
              style="position: absolute; display: block; margin: 0px; padding: 0px; left: -438.383px; top: 0px; width: 137px; height: 45px;"
            >
              <div class="leftLava"></div><div class="bottomLava"></div><div class="cornerLava">
              </div>
            </li>
            <li class="selectedLava">
              <a class="current" href="http://aikidoacademy.com.ua/" style="padding-left: 20px;">
                <span class="menu-icon-home"></span>Головна
              </a>
            </li>
            <li>
              <a class="" href="http://aikidoacademy.com.ua/Pro-nas" style="padding-left: 20px;">
                <span class="menu-icon-about"></span>Про нас
              </a>
            </li>
            <li>
              <a class="" href="http://aikidoacademy.com.ua/Video" style="padding-left: 20px;">
                <span class="menu-icon-features"></span>Відео
              </a>
            </li>
            <li>
              <a class="" href="http://aikidoacademy.com.ua/Novini" style="padding-left: 20px;">
                <span class="menu-icon-blog"></span>Новини
              </a>
            </li>
            <li>
              <a
                class=""
                href="http://aikidoacademy.com.ua/Rozklad-seminariv"
                style="padding-left: 20px;"
              >
                <span class="menu-icon-"></span>Розклад семінарів
              </a>
            </li>
            <li>
              <a class="" href="http://aikidoacademy.com.ua/Kontakti" style="padding-left: 20px;">
                <span class="menu-icon-contact"></span>Контакти
              </a>
            </li>
          </ul>
          <!-- /.menu -->
        </div>
        <!-- /#primary-navigation -->
      </div>
      <!-- #/header -->

      <!-- /#header panel -->
      <!-- #main -->
      <slot />

      <!-- #top-footer -->
      <div id="top-footer" class="wrapper">
        <div class="container">
          <div class="top-footer-list-wrapper">
            <span class="ticker-footer-icon"></span>
            <div class="ticker top-footer-list"></div>
          </div>
        </div>
      </div>
      <!-- /#top-footer -->
      <!-- #footer -->
      <div id="footer" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="span4">
              <!-- footer wiget area 1 -->
              <div class="widget">
                <h4>
                  <a href="http://aikidoacademy.com.ua/Novini" title="Наші новини">
                    <span class="circle">
                      <span class="circle-border"></span>
                      <span class="circle-inner"><span class="circle-icon-posts"></span></span>
                    </span>
                  </a>
                  Вікові групи
                </h4>
                <p>
                  Для покращення якості тренувального процесу заняття в клубах академії відбуваються
                  в різних вікових групах:
                </p>
                <ul>
                  <li>
                    <strong>Підготовча:</strong> створена для початківців, щоб ті перед початком занять
                    в основній групі володіли навичками страховки та знанням базових моментів тренувального
                    процесу.
                  </li>
                  <li>
                    <strong>Основна:</strong> поділяється на вікові групи починаючи від 4-х років, а
                    саме: групи 4+, 7+, 10+, підліткова, доросла.
                  </li>
                  <li>
                    <strong>Тренування для інструкторів.</strong>
                  </li>
                </ul>
                <p>Вікові обмеження для початку занять дорослих відсутні.</p>
              </div>
              <!-- /footer wiget area 1 -->
            </div>
            <div class="span4">
              <!-- footer wiget area 2 -->
              <div class="widget">
                <h4>
                  <span class="circle">
                    <span class="circle-border"></span>
                    <span class="circle-inner"><span class="circle-icon-about"></span></span>
                  </span>
                  Підписатись на розсилку
                </h4>
                <p>
                  Ми будемо повідомляти Вас про новини і семінари айкідо в Україні та за її
                  кордонами
                </p>
                <div style="display: none;" class="alert alert-error form-error"></div>
                <div style="display: none;" class="alert alert-info2 form-success"></div>
                <form
                  id="subsribe-form"
                  method="post"
                  enctype="multipart/form-data"
                  action="http://aikidoacademy.com.ua/layout/set/ajax_post/content/action"
                >
                  <p class="input-button-inside">
                    <input
                      tabindex="3"
                      type="text"
                      size="70"
                      name="ContentObjectAttribute_data_text_2264"
                      value=""
                      data-default="Email"
                      placeholder="Email"
                      min="5"
                      max="100"
                      required=""
                    />
                    <button
                      type="submit"
                      name="ActionCollectInformation"
                      class="input-button-search"></button>
                  </p>
                  <!-- Send Button -->
                  <input type="hidden" name="ContentNodeID" value="415" />
                  <input type="hidden" name="ContentObjectID" value="417" />
                  <input type="hidden" name="ViewMode" value="full" />
                  <input type="hidden" name="ActionCollectInformation" />
                </form>
              </div>
              <!-- /footer wiget area 2 -->
            </div>
            <div class="span4">
              <!-- footer wiget area 3 -->
              <div class="widget">
                <h4>
                  <a href="http://aikidoacademy.com.ua/Kontakti" title="Контактні дані">
                    <span class="circle">
                      <span class="circle-border"></span>
                      <span class="circle-inner"><span class="circle-icon-mail"></span></span>
                    </span>
                  </a>
                  Україна
                </h4>
                <p>
                  Закарпаття, Ужгород<br />
                  88000
                </p>
                <p>
                  E-mail: <a href="mailto:aikidoaikikai.academy@gmail.com" class="link-style2"
                    >aikidoaikikai.academy@gmail.com</a
                  ><br />
                  Tel: +38 (050) 931 46 01
                </p>
              </div>
              <!-- /footer wiget area 3 -->
            </div>
          </div>
        </div>
      </div>
      <!-- /#footer -->
      <!-- #bottom -->
      <div id="bottom" class="wrapper">
        <div class="container">
          <div class="clearfix"></div>
          <p class="copyright">
            Copyright 2015 | aikidoacademy by <a
              href="http://aikidoacademy.com.ua/#"
              class="link-style2">Shap &amp; Karamelki</a
            >
          </p>
        </div>
      </div>
      <!-- /#bottom -->
      <div class="social-icons">
        <div>
          <div class="social-icon-facebook">
            <a
              target="_blank"
              href="https://www.facebook.com/groups/Aikido.academy.Conscience.nd.Honor/"
              ><img src="/images/social_icons/social_facebook.png" alt="facebook" /></a
            >
          </div>
          <div class="social-icon-youtube">
            <a target="_blank" href="https://www.youtube.com/channel/UCSuG9axVabM0O2X9yTTy7Bg/feed"
              ><img src="/images/social_icons/social_youtube.png" alt="youtube" /></a
            >
          </div>
        </div>
      </div>
      <div id="scroll-top" style="display: none;">
        <a href="http://aikidoacademy.com.ua/#top"></a>
      </div>
      <script type="text/javascript" src="/js/jquery.inview.js" charset="utf-8"></script>
      <script type="text/javascript" src="/js/jquery.carouFredSel-6.2.1-packed.js" charset="utf-8"
      ></script>
      <script type="text/javascript" src js jquery.lavalamp-1.3.5.min.js" charset="utf-8"></script>
      <script type="text/javascript" src js jquery.easing.1.3.js" charset="utf-8"></script>
      <script type="text/javascript" src js jquery.isotope.min.js" charset="utf-8"></script>
      <script type="text/javascript" src js jquery.magnific-popup.min.js" charset="utf-8"></script>
    </div>
  </body>
</html>
