---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'

interface Props {
  title: string
  description: string
  keywords?: string
  activeMenu?: string
}

const { title, description, keywords, activeMenu } = Astro.props
---

<html lang="uk-UA">
  <head>
    <BaseHead {title} {keywords} {description} />
  </head>
  <body id="top" class="boxed stickymenu stickyfooter">

    <div id="wrapper" style="margin-bottom: 75px;">
      <Header {activeMenu} />
      <slot />
      <Footer />
    </div>

    <!-- ПРАВИЛЬНЕ підключення пошуку -->
    <script src="/search.js"></script>

  </body>
</html>
